[Desktop Entry]
NotShowIn=Unity;GNOME
Name=Files
Comment=Access and organize files
Exec=nautilus --new-window --no-desktop
Terminal=false
Type=Application

[Desktop Entry]
NotShowIn=Unity;GNOME
Name=Nautilus
Comment=Access and organize files
Exec=nautilus --new-window --no-desktop
Terminal=false
Type=Application

[Desktop Entry]
NotShowIn=Unity;GNOME
Name=nautilus
Comment=Access and organize files
Exec=nautilus --new-window --no-desktop
Terminal=false
Type=Application
